.phonedog_class {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  .desription_dog {
    display: flex;
    align-items: center;
    width: 500px;

    .subscribers {
      display: flex;
      flex-direction: column;
      font-family: "Inter", sans-serif;
      gap: 5px;

      & h2 {
        font-weight: 500;
        font-size: 30px;
        color: white;
      }

      & p {
        font-weight: 400;
        font-size: 17px;
        color: white;
      }
    }
  }

  .views_class {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    gap: 5px;
    color: grey;
  }

  .eye {
    width: 30px;
    height: 30px;
    opacity: 30%;
  }

  .phonedog1 {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .phonedog_class {
    display: none;
    margin-top: 50px;
    padding: 20px;
    
    .desription_dog {
      width: 100%;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .subscribers {
        & h2 {
          font-size: 24px;
        }

        & p {
          font-size: 14px;
        }
      }
    }

    .views_class {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;

      .eye {
        width: 20px;
        height: 20px;
      }
    }

    .phonedog1 {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  }
}
