.get-dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  gap: 20px;
  padding: 20px;
  font-family: "Inter", sans-serif;

  .column {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .step {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .step-number {
        flex: 0 0 30px;
        font-size: 2rem;
        margin-right: 10px;
      }

      .step-content {
        display: flex;
        align-items: center;
        border: 1px solid #555;
        padding: 10px;
        border-radius: 5px;
        flex: 1;

        .icon {
          flex: 0 0 50px;
          margin-right: 10px;

          img {
            max-width: 100%;
          }
        }

        .step-text {
          h3 {
            margin: 0 0 10px 0;
            font-size: 1.2rem;
            font-size: 30px;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .get-dogs {
    flex-direction: column;
    align-items: center;

    .column {
      max-width: 100%;
    }
  }
}
